<!DOCTYPE html>
<html>
<head>
  <title>The EmPHasizOR!</title>
</head>
<body>
  <div style="border: solid 1px blue; width: 500px; height: 100px;">HEADER!!</div>

  <%= yield %>

  <div style="border: solid 1px red; width: 100px; height: 100px;">FOOTER!!</div>
</body>
</html> 